@font-face {
    font-family: 'calculatorregular';
    src: url('./fonts/calculator-webfont.woff2') format('woff2'),
         url('./fonts/calculator-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  overflow-x: scroll;
  overflow-y: scroll;
  background-color: white;
}

#container {
  height: 85vh;
  display: grid;
  grid-template-columns: auto 640px auto;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    ". header ."
    ". calc ."
    ". footer .";
}

header {
  grid-area: header;
  display: grid;
  grid-template-areas: "title";
  height: 100%;
  width: 100%;
}

header #title {
  grid-area: title;
  justify-self: center;
}

#calc {
  border-radius: 5px 5px 35px 5px;
  height: 93%;
  width: 75%;
  grid-area: calc;
  background-color: rgba(214, 214, 214, 0.84);
  justify-self: center;
  display: grid;
  grid-template-rows: 25% 10% 65%;
  grid-template-areas:
    "display"
    "name"
    "buttons";
}

footer {
  height: 100%;
  width: 100%;
  grid-area: footer;
  display: grid;
  grid-template-areas: "copyright";
}

footer .copyright {
  grid-area: copyright;
  justify-self: center;
}

#display-container {
  border-radius: 5px 5px 35px 5px;
  grid-area: display;
  display: grid;
  grid-template-areas: "number-display";
  justify-self: center;
  border: solid 2px black;
  width: 75%;
  height: 55%;
  padding: 5px 30px 20px 30px;
  margin-top: 35px;
  background-color: rgba(139, 149, 141, 0.84);
}

#number-display {
  font-family: 'calculatorregular';
  border-radius: 5px 5px 5px 5px;
  height: 35%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin: 15px 0px 35px 0px;
  font-size: 3rem;
  background-color: green;
  border: solid 1px yellow;
}

#name {
  font-size: 1.2rem;
  height: 30%;
  padding-left: 35px;
  margin-top: 0;
  grid-area: name;
}

.chunky{

}

#btns {
  grid-area: buttons;
  justify-self: center;
  padding-top: 30px;
}

#btns .operator {
  background-color: red;
  color: blue;
}

#btns .operand {
  background-color: black;
  color: blue;
}

button {
  width: 100px;
  height: 60px;
  font-size: 1.5rem;
}

button#zero, button#clear-all{
  width: 205px;
}
