body {
  overflow-x: scroll;
  overflow-y: scroll;
  background-color: white;
}

#container {
  height: 95vh;
  display: grid;
  grid-template-columns: auto 640px auto;
  grid-template-rows: 75px 655px 100px;
  grid-template-areas:
    ". header ."
    ". calc ."
    ". footer .";
}

header {
  grid-area: header;
  display: grid;
  grid-template-areas: "title";
  height: 100%;
  width: 100%;
}

header #title {
  grid-area: title;
  justify-self: center;
}

#calc {
  border-radius: 5px 5px 35px 5px;
  height: 93%;
  width: 75%;
  grid-area: calc;
  background-color: rgba(214, 214, 214, 0.84);
  justify-self: center;
  display: grid;
  grid-template-rows: 164px 52px auto;
  grid-template-areas:
    "display"
    "name"
    "buttons";
}

footer {
  height: 100%;
  width: 100%;
  grid-area: footer;
  display: grid;
  grid-template-areas: "copyright";
}

footer .copyright {
  grid-area: copyright;
  justify-self: center;
}

#year {
  display: flex;
  justify-content: center;
}

#display-container {
  border-radius: 5px 5px 35px 5px;
  grid-area: display;
  display: grid;
  grid-template-areas: "number-display";
  justify-self: center;
  border: solid 2px black;
  width: 75%;
  height: 55%;
  padding: 5px 30px 20px 30px;
  margin-top: 35px;
  background-color: rgba(139, 149, 141, 0.84);
}

#number-display {
  border-radius: 5px 5px 5px 5px;
  height: 35%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin: 15px 0px 35px 0px;
  font-size: 3rem;
  background-color: green;
  border: solid 1px yellow;
}

#name {
  font-size: 1.2rem;
  height: 30%;
  padding-left: 35px;
  margin-top: 0;
  grid-area: name;
  word-spacing: -0.3rem;
  color: rgb(66, 56, 184);
}

.chunky{
  font-size: 1.1rem;
  font-family: sans-serif;
  letter-spacing: -0.1rem;
}

.gb {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  word-spacing: -0.1rem;
}

#btns {
  grid-area: buttons;
  justify-self: center;
  padding-top: 30px;
}

#btns .operator {
  background-color: rgb(247, 70, 70);
  color: rgb(75, 75, 236);
}

#btns .operand {
  background-color: rgb(63, 63, 68);
  color: rgb(168, 168, 232);
}

button {
  width: 100px;
  height: 60px;
  font-size: 1.5rem;
}

button#zero, button#clear-all{
  width: 205px;
}
